:root {
  --main-color: #2E2828;
  --secondary-color: #C93030;

  --scrollbar-color: #C93030;
  --scrollbar-hover-color: #CA4F4F;
  --scrollbar-background-color: #E4E4E4;

  --large-text: 80px;
  --medium-text: 35px;
  --small-text: 25px;
  --smaller-text: 15px;

  --large-bar-size: 8px;
  --bar-size: 4px;
  --bar-spacing: 16px;

  --padding: 50px;
  --smaller-padding: 16px;

  --page-width: 800px;
  --separation-image-size: 80%;
  --separation-height: 80px;
}

@media (width < 1000px) {
  :root {
    --medium-text: 30px;
    --small-text: 20px;
    --smaller-text: 10px;

    --page-width: 600px;
  }
}

@media (width < 800px) {
  :root {
    --medium-text: 25px;
    --small-text: 15px;
    --smaller-text: 8px;
    
    --padding: 30px;
    --smaller-padding: 8px;
    
    --separation-height: 40px;
    
    --page-width: 400px;
  }
}

@media (width < 450px) {
  :root {
    --large-text: 14vw;
    --medium-text: 6vw;
    --small-text: 4vw;
    --smaller-text: 0px;

    --large-bar-size: 2vw;
    --bar-size: 0px;

    --padding: 6vw;
    --smaller-padding: 8px;
    
    --separation-height: 8vw;
    
    --page-width: 100%;
  }
}

* {
    margin: 0;
    padding: 0;

    font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
}

iframe {
    border: 0;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.x-center {
    margin-left: auto;
    margin-right: auto;
    
}

.main-container {
    width: var(--page-width);
    height: max-content;
}

.page-title {
    max-width: fit-content;
    font-size: var(--large-text);
}

.page-title hr {
    border: 0;
    background-color: var(--secondary-color);
    height: var(--large-bar-size);
}

.inner-section-padding {
    border: 0;
    height: var(--padding);
}

.smaller-padding {
    border: 0;
    height: var(--smaller-padding);
}

.paragraph {
    display: flex;
}

.paragraph h2 {
    color: var(--main-color);
    font-weight: 400;
    font-size: var(--medium-text);
}

.paragraph p {
    font-size: var(--small-text);
}

.vertical-line {
    margin-top: 8px;
    margin-bottom: 4px;
    margin-right: var(--bar-spacing);
    padding-left: var(--bar-size);
    background-color: var(--secondary-color)
}

.section-separator {
    width: 100%;
    height: var(--separation-height);
    background-image: url("assets/separation-line.png");
    background-position-x: center;
    background-position-y: center;
    background-size: var(--separation-image-size);
    background-repeat: no-repeat;
}

#ws-paragraph * {
    display: inline-block;
}

#ws-paragraph p {
    font-size: var(--smaller-text);
}

.video-div {
    overflow-x: auto;
    overflow-y: hidden;
}

.video-div div {
    display: flex;
    height: 170px;
}

.video-div iframe {
    line-break: strict;
    display: inline-block;
}

#socials-paragraph * {
    display: inline-block;  
}

#socials-paragraph p {
    font-size: var(--medium-text);
}

@media (width < 450px) {
  body {
    padding-right: 15px;
    padding-left: 15px;
  }

  .vertical-line {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  .video-div iframe {
    height: 40vw;
    width: 60vw;
  }

  .video-div {
    height: 40vw;
  }
}